# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/

# Logs
*.log

# Local env files
.env

# OS files
.DS_Store
Thumbs.db

# Cache
*.cache
